.header {
    display: flex;
    background-color: beige;
}

.logo {
    flex:1;
    text-align: center;
    font-weight: bold;
}

.left-links{
    background-color: blue;
    justify-content: left;
    flex: 1;
    
}

.right-links{
    flex: 1;
    background-color: red;
    align-content:flex-end;
    justify-content: flex-start;
}