.header {
    display: flex;
    background-color: papayawhip;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
    padding: 10px;
}

.logo {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 5px 30px;
    background-color: white;
    color: rgb(252, 0, 21);
}

ul {
    list-style-type:none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    padding: 8px;
    font-size: 22px;
    background-color: white;
}
