/*CSS ex3*/

.pos, .neg {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.pos {
    color:rgb(249, 252, 255);
    background-color: rgb(10, 10, 10);
}
.neg {
    color:rgb(10, 10, 10);
    background-color: yellow;
}