/* CSS ex5 */

div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* Can also do it likewise:

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

*/