/* Box styles */

* {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.one {
    background-color: aqua;
    padding: 3px;
    border: 30px solid seagreen;
    margin: 5px;
    height:auto;
    width: auto;
}

.two {
    background-color: rgb(163, 228, 12);
    padding: 10px;
    padding-left: 25px;
    border: 30px solid rgb(221, 20, 20);
    margin: 50px;
    height: 120px;;
    width: 200px;
    box-sizing: border-box;
}